@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*apply all smooth .3 sec when hover*/
a:hover {
  @apply duration-300 scroll-smooth
}

/*remove default style from input type search*/
input:focus,
textarea:focus,
select:focus {
  outline: none;
}

/*chrome*/
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/*IE*/
input[type=search]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

.center {
  text-align: -webkit-center;
}

.inline-item {
  display: inline-flex;
  align-items: center;
}

.box-shadow {
  box-shadow: 0px 4px 12px 6px rgba(0, 0, 0, 0.25);
}

.input {
  @apply h-10 rounded-lg pl-1 text-black text-xl
}

.text-shadow {
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);
}

.label {
  font-size: 1.25rem;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);
}

.bg-white-80 {
  background: rgba(255, 255, 255, 0.80);
}

.bg-black-glass {
  background: rgba(0, 0, 0, 0.6);
}

.regis-button {
  @apply text-primary2 font-bold px-4 py-2 rounded-xl text-xl hover:opacity-90 bg-white;
}

.orange-button {
  @apply bg-primary2;
  border-radius: 13px;
  padding: 0.65rem 7rem;
  color: white;
  margin: 1rem auto;
}

.orange-gradient {
  background: linear-gradient(90deg, #E65F13 0%, #FBB64F 102.4%);
  ;
}

.info-container {
  background: linear-gradient(90deg, #BF3100 67.7%, rgba(80, 243, 90, 0) 100.01%);
  border-radius: 18px;
}

.item-filter {
  background: linear-gradient(180deg, rgba(255, 168, 88, 0.91) 0%, rgba(255, 188, 88, 0.91) 100%);
  border-radius: 9px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  gap: 1rem;
  padding: 0.75rem 1rem;
  width: 170px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bg-glass {
  background: rgba(255, 255, 255, 0.83);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.4px);
  -webkit-backdrop-filter: blur(1.4px);
}

.scale {
  --tw-scale-x: 1.02;
  --tw-scale-y: 1.02;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.item-scale:hover {
  --tw-scale-x: 1.02;
  --tw-scale-y: 1.02;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.option-container {
  border: 1px solid rgba(0, 0, 0, 0.38);
  padding: 0 1rem;
  border-radius: 0px 0px 6px 6px;
}

.option {
  margin: 0.5rem 0;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
}

.option:hover {
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.choose {
  box-shadow: inset 0px 4px 9px rgba(0, 0, 0, 0.25);
}

.driver-info-container {
  background: linear-gradient(180deg, #499755 0%, #659F4A 97.92%);
  box-shadow: 0px 4px 20px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}

.chatBubble-shadow {
  box-shadow: 0px 5px 19px rgba(0, 0, 0, 0.23);
}

.smooth-transition {
  transition: all .5s ease-in-out;
}

.input1 {
  grid-area: i1;
}

.input2 {
  grid-area: i2;
}

.input3 {
  grid-area: i3;
}

.input4 {
  grid-area: i4;
}

.input5 {
  grid-area: i5;
}

.map {
  grid-area: i6
}

.grid-container {
  display: grid;
  grid-template-areas:
    'i1 i2'
    'i3 i4'
    'i5 i5'
    'i6 i6';
  gap: 30px;
}

.dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 4px;
  width: 4.5rem;
  background: #FDF7F0;
  border: 1px solid #499755;
  box-shadow: 0px 0px 11px -1px #F4D6B3;
  border-radius: 7px;
  color: #499755;
}
